.about {
  margin-top: 8rem;
  margin-bottom: 8rem;
  &__text {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2;
    color: $secondary-color;
    margin-bottom: 7.5rem;
  }
  &__desc h3 {
    font-size: 2.4rem;
    font-weight: 400;
    margin-bottom: 1.5rem;
  }
  &__desc {
    text-align: center;
  }
  &__item {
    display: flex;
    gap: 4rem;
  }
  &__content h3 {
    font-size: 1.5rem;
    font-weight: 600;
    padding-top: 2.3rem;
    padding-bottom: 2rem;
  }
  &__content h4 {
    font-size: 1.4rem;
    padding-bottom: 2.5rem;
  }
  &__content p {
    font-size: 1.2rem;
    color: $primary-color;
    cursor: pointer;
  }
  .modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid $secondary-color;
    border-radius: 10px;
    z-index: 10;
    background-color: white;
    width: 70rem;
    max-width: 80%;
    text-align: center;
    padding: 2rem 0;
    &__text h3 {
      font-size: 2rem;
    }
  }

  .modal.active {
    transform: translate(-50%, -50%) scale(1);
  }
  #overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    pointer-events: none;
  }
  #overlay.active {
    pointer-events: all;
  }
  .close-button {
    border: none;
    outline: none;
    background: #74c52c;
    color: #fff;
    font-size: 3rem;
    font-weight: 400;
    margin-right: -62rem;
    padding: 0 1rem;
    border-radius: 50%;
  }
  .modal {
    &__img img {
      width: 70%;
    }
  }
}

@media (min-width: 1024px) and (max-width: 1366px) {
  .about {
    margin-top: 5rem;
    margin-bottom: 6rem;
    &__item {
      flex-wrap: wrap;
      margin-left: 10rem;
      gap: 0;
      margin-bottom: -5rem;
    }
    &__info {
      width: 45%;
    }
    &__content p {
      margin-bottom: 4rem;
    }
    &__text {
      width: 80%;
      padding-left: 8rem;
    }
    .modal {
      top: 35%;
    }
  }
}
@media (min-width: 740px) and (max-width: 1023px) {
  .about {
    margin: 5rem 0;
    &__text {
      width: 95%;
      padding-left: 2rem;
      margin-bottom: 4rem;
    }
    &__item {
      display: block;
      padding-left: 2rem;
    }
    &__info {
      margin-bottom: 5rem;
    }
    &__img img {
      width: 98%;
      object-fit: cover;
    }
  }
}
@media screen and (max-width: 767px) {
  .about {
    &__text {
      width: 85%;
      padding-left: 3rem;
      margin-bottom: 4rem;
    }
    &__item {
      display: block;
      width: 90%;
      padding-left: 2rem;
    }
    &__info {
      margin-bottom: 3rem;
    }
    &__img img {
      width: 100%;
      object-fit: cover;
    }
    &__desc {
      margin-top: -4rem;
    }
    &__content h4 {
      font-size: 1.2rem;
      padding-bottom: 1.5rem;
    }
    &__content h3 {
      padding-top: 1.5rem;
      padding-bottom: 1rem;
    }
    .close-button {
      margin-top: -2rem;
      margin-right: -28rem;
      padding: 0.1rem 0.7rem;
      font-size: 2rem;
    }
    .modal__img img {
      width: 90%;
    }
  }
}
