.banner {
  background-size: cover;
  height: 70rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &__heading {
    font-size: 7.5rem;
    font-weight: 700;
    color: #fff;
    margin-bottom: 4rem;
  }
  &__desc {
    font-size: 2.4rem;
    font-weight: 400;
    color: #fff;
  }
  &__content {
    position: absolute;
    top: 0;
    transform: translateY(50%);
  }
}
.slider-1 {
  background-image: url(./Images/slider.png);
  background-size: cover;
}
.slider-2 {
  background-image: url(./Images/Slider-2.png);
  background-size: cover;
}
.slider-3 {
  background-image: url(./Images/slider-3.jpg);
  background-size: cover;
}
.slick-arrow {
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  line-height: 1;
  z-index: 5;
  transition: all 0.2s linear;
}
.slick-arrow:hover {
  background-color: #74c52c;
  color: white;
}
.slick-prev {
  left: 0;
  margin-left: 2rem;
}
.slick-next {
  right: 0;
  margin-right: 2rem;
}
.slick-dots {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translate(-50%, 0);
  display: flex !important;
  align-items: center;
  justify-content: center;
  gap: 0 20px;
}
.slick-dots button {
  font-size: 0;
  width: 15px;
  height: 15px;
  border-radius: 100rem;
  background-color: #eee;
  border: none;
  outline: none;
  transition: all 0.2s linear;
}
.slick-dots .slick-active button {
  background-color: #74c52c;
}
@media (min-width: 664px) and (max-width: 1366px) {
  .banner {
    &__content {
      margin-left: 2%;
      margin-top: 5rem;
    }
  }
}
@media (min-width: 1920px) {
  .banner {
    &__content {
      margin-left: 3%;
    }
  }
}

@media (min-width: 1440px) {
  .banner {
    &__content {
      margin-left: 2.7%;
      margin-top: 2rem;
    }
  }
}
@media (min-width: 1024px) and (max-width: 1366px) {
  .banner {
    &__desc {
      font-size: 2rem;
      width: 60%;
      padding-left: 17rem;
    }
    &__heading {
      font-size: 5rem;
      margin-left: -10rem;
    }
    &__content {
      margin-top: 9rem;
      margin-left: 0;
    }
    &__buttons {
      margin-left: -10rem;
    }
  }
  .btn {
    font-size: 1.5rem;
    padding: 1.2rem 1.2rem;
  }
  .btn--border {
    margin-left: -6rem;
    margin-right: 1.5rem;
  }
  .slick-prev {
    margin-left: 4rem;
  }
  .slick-next {
    margin-right: 4rem;
  }
}
@media (min-width: 740px) and (max-width: 1023px) {
  .banner {
    height: 45rem;
    &__heading {
      font-size: 3rem;
      margin-bottom: 2rem;
      margin-left: -40rem;
    }
    &__desc {
      font-size: 1.5rem;
      width: 60%;
    }
    &__buttons {
      margin-left: -43rem;
    }
  }
  .btn {
    font-size: 1.5rem;
    padding: 1.1rem 1.1rem;
  }
  .btn--border {
    margin-right: 1.5rem;
  }
  .slick-arrow {
    width: 40px;
    height: 40px;
  }
}

@media screen and (max-width: 767px) {
  .banner {
    height: 45rem;
    &__heading {
      font-size: 2.5rem;
      margin-bottom: 3rem;
      margin-left: -80rem;
    }
    &__desc {
      font-size: 1.4rem;
      width: 22%;
      margin-left: 5.5rem;
    }
    &__content {
      width: 100%;
      margin-left: 3rem;
    }
    &__buttons {
      margin-left: -81rem;
    }
  }
  .btn {
    font-size: 1.2rem;
    padding: 1.2rem 1.2rem;
  }
  .btn--border {
    margin-right: 1rem;
  }
}
@media (max-width: 375px) {
  .banner {
    &__content {
      margin-left: 4.5rem;
    }
    &__desc {
      width: 25%;
      margin-left: 2rem;
    }
  }
}
@media (max-width: 1680px) {
  .banner {
    &__content {
      margin-left: 2.1%;
    }
  }
}
@media (max-width: 1679px) {
  .banner {
    &__content {
      margin-left: 1.3%;
    }
  }
}
@media (max-width: 976px) {
  .banner {
    &__content {
      margin-left: 3.1%;
    }
  }
}

@media (max-width: 796px) {
  .banner {
    &__content {
      margin-left: 2.1%;
    }
  }
}
@media (max-width: 1024px) {
  .banner {
    &__content {
      margin-left: 0;
    }
  }
}
@media (max-width: 767px) {
  .banner {
    &__content {
      margin-left: 2.4%;
    }
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .banner {
    &__content {
      margin-left: 2%;
    }
  }
}
@media (max-width: 320px) {
  .banner {
    &__content {
      margin-left: 8.5%;
    }
    &__desc {
      margin-left: -4rem;
    }
  }
}
@media (min-width: 2560px) {
  .banner {
    &__content {
      margin-left: 3.85%;
    }
  }
}
@media (min-width: 1000px) and (max-width: 1023px) {
  .banner {
    &__content {
      margin-left: 3.2%;
    }
  }
}

@media (min-width: 938px) and (max-width: 998px) {
  .banner {
    &__content {
      margin-left: 2.9%;
    }
  }
}
@media (min-width: 880px) and (max-width: 937px) {
  .banner {
    &__content {
      margin-left: 2.65%;
    }
  }
}
@media (min-width: 820px) and (max-width: 879px) {
  .banner {
    &__content {
      margin-left: 2.65%;
    }
  }
}
@media (min-width: 1025px) and (max-width: 1160px) {
  .banner {
    &__content {
      margin-left: 0.8%;
    }
  }
}
