.service {
  &__item {
    display: flex;
    gap: 1.5rem;
    padding-bottom: 6rem;
  }
  &__primary {
    display: flex;
    gap: 2rem;
  }
  &__img {
    width: 5rem;
    height: 5rem;
  }
  &__align {
    text-align: right;
  }
  &__content h3 {
    font-size: 1.8rem;
    padding-bottom: 2rem;
  }
  &__content p {
    font-size: 1.4rem;
  }
  &__icon i {
    font-size: 2rem;
    border: 1.5rem solid #74c52c;
    background-color: #74c52c;
    border-radius: 50%;
    color: #fff;
  }
}
.service__icon-black i {
  font-size: 2rem;
  border: 1.5rem solid #333;
  background-color: #333;
  border-radius: 50%;
  color: #fff;
}
@media (min-width: 1024px) and (max-width: 1366px) {
}
@media (min-width: 740px) and (max-width: 1023px) {
  .service {
    &__align {
      padding-left: 2rem;
    }
    &__list {
      padding-right: 2rem;
    }
  }
}
@media screen and (max-width: 767px) {
  .service {
    &__primary {
      flex-direction: column-reverse;
    }
    &__list {
      width: 90%;
      padding-left: 2rem;
    }
    &__img {
      width: 10%;
      height: 10%;
    }
    &__item {
      padding-bottom: 5rem;
    }
  }
}
