.top__bar {
  margin-top: 2rem;
  margin-bottom: -4rem;
}

.topbar__list {
  display: flex;
  justify-content: flex-end;
  font-size: 1.2rem;
  color: #9b9b9b;
}

.topbar__list .fa-globe,
.topbar__list h3,
.topbar__list h4,
.topbar__list h5,
.topbar__list h6,
.topbar__list p {
  padding-right: 0.6rem;
}

.topbar__list .fa-globe {
  margin-top: 0.2rem;
}

@media (min-width: 1024px) and (max-width: 1366px) {
  .top__bar {
    padding-right: 1rem;
  }
}

@media (min-width: 740px) and (max-width: 1023px) {
  .top__bar {
    padding-right: 1rem;
  }
}
@media screen and (max-width: 767px) {
  .top__bar {
    padding-right: 1rem;
  }
}
