.article {
  text-align: center;
  background-color: #f7f7f7;
  &__desc {
    font-size: 2.4rem;
    font-weight: 400;
    margin-bottom: 1.5rem;
    color: $secondary-color;
  }
  &__line {
    width: 7rem;
    border: 1px solid #687074;
    display: inline-block;
    margin-bottom: 30px;
  }
  &__text {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2;
    color: $secondary-color;
    margin-bottom: 7.5rem;
  }
  &__button {
    margin-top: -5rem;
  }
  &__content {
    padding: 7rem;
  }
}
.article__button .btn--border {
  cursor: pointer;
  color: $secondary-color;
  border: 1px solid $secondary-color;
  font-size: 1.4rem;
  padding: 1rem 1rem;
  margin-right: 1rem;
}

.article__button .btn--primary {
  cursor: pointer;
  font-size: 1.4rem;
  padding: 1rem 1rem;
  color: #fff;
}
@media (min-width: 1024px) and (max-width: 1366px) {
  .article {
    &__button {
      margin-left: 5rem;
    }
    &__content {
      padding: 5rem;
    }
  }
}
@media (min-width: 740px) and (max-width: 1023px) {
  .article {
    &__desc {
      margin-bottom: 1.5rem;
    }
  }
}
@media screen and (max-width: 767px) {
  .article {
    &__content {
      padding: 3rem;
    }
    &__line {
      margin-top: 0;
    }
  }
}
@media screen and (max-width: 320px) {
  .article {
    &__button .btn--border {
      font-size: 1.3rem;
    }
  }
}
