.header {
  margin-top: 7rem;
  &__inner {
    display: flex;
    justify-content: flex-end;
  }
  &__logo {
    cursor: pointer;
    padding-bottom: 0.5rem;
  }
  &__menu-list {
    display: flex;
    margin-top: -4rem;
  }
  &__menu-item {
    padding-right: 3rem;
    text-decoration: none;
    cursor: pointer;
  }
  &__menu-item:hover &__menu-link {
    color: #74c52c;
  }
  &__menu-item:hover i {
    color: #74c52c;
  }
  &__menu-item:hover .menu__dropdown {
    display: block;
    z-index: 99999;
    padding-bottom: 2rem;
    margin-left: -2rem;
  }
  &__menu-link {
    text-decoration: none;
    color: #687074;
    font-weight: 600;
    font-size: 1.5rem;
  }
}

.menu__dropdown ul li:hover a {
  color: #74c52c;
}
.sticky {
  position: fixed;
  background-color: #fff;
  top: -7rem;
  padding-top: 2rem;
  width: 100%;
  transition: all 0.7s linear;
  z-index: 2;
}
.sticky + .content {
  padding-top: 12rem;
}
.fa-search {
  font-size: 1.5rem;
  color: #b8b8b8;
  line-height: 2.2rem;
}
.fa-chevron-down {
  padding-left: 1rem;
}
.menu__dropdown ul li a {
  text-decoration: none;
  color: #687074;
  font-weight: 400;
  font-size: 1.5rem;
  padding-left: 2rem;
}
.menu__dropdown {
  display: none;
  position: absolute;
  background-color: #fff;
}
.menu__dropdown ul {
  padding-top: 1.4rem;
  padding-right: 3rem;
}
@media (min-width: 1024px) {
  .header {
    &__icon {
      display: none;
    }
  }
}
@media (min-width: 1024px) and (max-width: 1366px) {
  .header {
    &__inner img {
      padding-left: 2rem;
    }
    &__logo img {
      padding-left: 2rem;
      padding-bottom: 0.5rem;
    }
  }
}
@media (min-width: 740px) and (max-width: 1023px) {
  .header {
    &__inner {
      display: block;
      position: relative;
    }
    &__menu-list {
      display: block;
    }
    &__menu-item {
      padding: 1rem 0;
    }
    &__menu-link {
      font-weight: 400;
      font-size: 1.3rem;
    }
    &__inner img {
      margin-left: 2rem;
    }
    &__icon {
      font-size: 3rem;
      top: -4.1rem;
      right: 4rem;
      position: absolute;
    }
    &__logo img {
      padding-left: 2rem;
      padding-bottom: 0.5rem;
    }
  }
  .nav__links {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: #fff;
    padding-top: 2rem;
    transition: all 0.4s ease-in;
    transform: translateX(-100%);
    opacity: 0;
    margin-left: 0;
    padding-left: 5rem;
    padding-bottom: 1rem;
    z-index: 999;
    margin-top: -0.1rem;
  }
  .sticky .header__icon {
    margin-right: 3rem;
  }
}
.nav__links.nav__open {
  transform: translateX(0);
  opacity: 1;
}
@media screen and (max-width: 767px) {
  .header {
    &__inner {
      display: block;
      position: relative;
    }
    &__menu-list {
      display: block;
    }
    &__menu-item {
      padding: 1rem 0;
    }
    &__menu-link {
      font-weight: 400;
      font-size: 1.3rem;
    }
    &__inner img {
      margin-left: 2rem;
    }
    &__icon {
      font-size: 3rem;
      top: -5rem;
      right: 2rem;
      position: absolute;
    }
    &__logo img {
      padding-left: 2rem;
      padding-bottom: 0.5rem;
    }
  }
  .nav__links {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: #fff;
    padding-top: 2rem;
    transition: all 0.4s ease-in;
    transform: translateX(-100%);
    opacity: 0;
    margin-left: 0;
    padding-left: 5rem;
    padding-bottom: 1rem;
    z-index: 2;
    margin-top: 0.02rem;
  }
}
.nav__links.nav__open {
  transform: translateX(0);
  opacity: 1;
}
