.information {
  text-align: center;
  margin-bottom: 7rem;
  &__desc {
    font-size: 2.4rem;
    font-weight: 400;
    margin-top: 6.6rem;
    margin-bottom: 1.5rem;
    color: $secondary-color;
  }
  &__line {
    width: 7rem;
    border: 1px solid #8b8b8b;
    display: inline-block;
    margin-top: 1rem;
    margin-bottom: 3rem;
  }
  &__text {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2;
    color: $secondary-color;
    margin-bottom: 7.5rem;
  }
  &__list {
    display: flex;
    gap: 4rem;
    text-align: left;
  }
  &__line {
    color: #687074;
  }
  &__content h3 {
    font-size: 1.8rem;
    padding-top: 2rem;
  }
  &__content h4 {
    font-size: 1.1rem;
    color: #8b8b8b;
    padding-top: 0.5rem;
  }
  &__content p {
    font-size: 1.1rem;
    margin-top: -2rem;
  }
  &__icon {
    font-size: 2rem;
    color: #fff;
    text-align: center;
    position: absolute;
  }
  &__icon .icon-infor {
    border: 2px solid #fff;
    border-radius: 50%;
    padding: 0.8rem;
    margin-left: 0.5rem;
    cursor: pointer;
  }
  &__img {
    position: relative;
    overflow: hidden;
  }
  &__img:hover .information__icon {
    top: 0%;
    bottom: 2%;
    background-color: rgba(0, 0, 0, 0.6);
    transition: all 0.35s ease-in;
    width: 100%;
    padding-top: 11rem;
  }
  &__img:hover .icon-infor:hover {
    background-color: #428bca;
  }
  &__content:hover .information__line {
    width: 100%;
    border: 1px solid #74c52c;
    transition: all 0.35s ease-in;
  }
}
@media (min-width: 1024px) and (max-width: 1366px) {
  .information {
    margin-bottom: 2rem;
    &__list {
      flex-wrap: wrap;
      text-align: center;
      padding-left: 10rem;
      gap: 0;
    }
    &__content p {
      margin-bottom: 3rem;
    }
    &__content {
      width: 45%;
    }
    &__content img {
      width: 80%;
      object-fit: cover;
    }
    &__text {
      margin-bottom: 5rem;
      padding-left: 11rem;
      width: 80%;
    }
    &__img:hover .information__icon {
      padding-top: 15rem;
      bottom: 1%;
      width: 80%;
      left: 10%;
    }
    &__content:hover .information__line {
      width: 80%;
    }
  }
}
@media (min-width: 740px) and (max-width: 1023px) {
  .information {
    margin-bottom: 2rem;
    &__list {
      flex-wrap: wrap;
      text-align: center;
      gap: 0;
      margin-left: 1.1rem;
    }
    &__content p {
      width: 75%;
      padding-left: 4.3rem;
      margin-bottom: 3rem;
    }
    &__line {
      margin-top: 1rem;
    }
    &__content img {
      width: 90%;
    }
    &__desc {
      margin-top: 5rem;
    }
    &__text {
      margin-bottom: 5rem;
      width: 90%;
      margin-left: 3rem;
    }
    &__img:hover .information__icon {
      padding-top: 15rem;
      bottom: 1%;
      width: 90%;
      left: 5%;
    }
    &__content:hover .information__line {
      width: 90%;
    }
  }
}
@media screen and (max-width: 767px) {
  .information {
    &__text {
      width: 90%;
      padding-left: 2rem;
      margin-bottom: 4rem;
    }
    &__desc {
      margin-bottom: 0;
      margin-top: 4rem;
    }
    &__line {
      margin-top: 0.5rem;
      margin-bottom: 2rem;
    }
    &__list {
      display: block;
      text-align: center;
    }
    &__content h3 {
      padding-top: 1rem;
    }
    &__content {
      margin-bottom: 4rem;
    }
    &__img:hover .information__icon {
      padding-top: 12rem;
      bottom: 1%;
      width: 64%;
      left: 18%;
    }
    &__content:hover .information__line {
      width: 64%;
    }
  }
}
@media screen and (max-width: 390px) {
  .information {
    &__img:hover .information__icon {
      padding-top: 12rem;
      bottom: 1%;
      width: 68%;
      left: 16%;
    }
    &__content:hover .information__line {
      width: 65%;
    }
  }
}
@media screen and (max-width: 375px) {
  .information {
    &__img:hover .information__icon {
      padding-top: 12rem;
      bottom: 1%;
      width: 70%;
      left: 15%;
    }
    &__content:hover .information__line {
      width: 70%;
    }
  }
}
