.statis {
  margin-bottom: 7.5rem;
  background-image: url(../images/BG.png);
  &__title {
    text-align: center;
  }
  &__list {
    border: 1px solid #555;
    text-align: center;
    width: 50%;
    padding: 2rem 0;
  }
  &__list h3 {
    font-size: 4.3rem;
    font-weight: 400;
  }
  &__list p {
    font-size: 1.6rem;
    font-weight: 400;
  }
  &__customer {
    display: flex;
    gap: 3rem;
  }
  &__item {
    color: #fff;
    padding-top: 0.1rem;
    padding-bottom: 5rem;
  }
  &__desc {
    font-size: 2.4rem;
    font-weight: 400;
    margin-top: 6.6rem;
    margin-bottom: 1.5rem;
  }
  &__line {
    width: 7rem;
    border: 1px solid #fff;
    display: inline-block;
    margin-bottom: 2rem;
  }
  &__text {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2;
    margin-bottom: 4rem;
  }
}
@media (min-width: 540px) and (max-width: 720px) {
  .statis {
    &__customer {
      margin-left: 5rem;
    }
    &__text {
      margin-left: 1.5rem;
    }
  }
}
@media (min-width: 1024px) and (max-width: 1366px) {
  .statis {
    &__customer {
      padding-left: 8rem;
    }
    &__list {
      width: 20%;
    }
    &__text {
      width: 90%;
      margin-left: 5rem;
    }
  }
}
@media (min-width: 740px) and (max-width: 1023px) {
  .statis {
    &__list {
      width: 20%;
    }
    &__customer {
      padding-left: 5rem;
    }
    &__text {
      width: 90%;
      padding-left: 4rem;
    }
    &__list h3 {
      font-size: 4rem;
    }
    &__list p {
      font-size: 1.3rem;
    }
  }
}
@media screen and (max-width: 736px) {
  .statis {
    margin-bottom: 5rem;
    &__customer {
      display: block;
      padding-left: 14rem;
    }
    &__text {
      width: 85%;
      padding-left: 3rem;
    }
    &__list {
      margin-bottom: 2rem;
    }
    &__list h3 {
      font-size: 3.5rem;
    }
    &__list p {
      font-size: 1.2rem;
    }
    &__item {
      margin-top: -4rem;
      padding-bottom: 3rem;
    }
    &__desc {
      margin-top: 4rem;
    }
  }
}
@media (max-width: 375px) {
  .statis {
    &__customer {
      padding-left: 13rem;
    }
  }
}
@media (max-width: 320px) {
  .statis {
    &__customer {
      padding-left: 11rem;
    }
  }
}
